# Ignore all
*

# Unignore ProblemSet directory
!/ProblemSet/

# Unignore all with extensions
!*.*
*/IO/*
*/IO/*.*

# Unignore files in PS_Codeforces
!/ProblemSet/PS_Codeforces/**
!/ProblemSet/PS_Codeforces/**/*
!/ProblemSet/PS_Codeforces/**/*.cpp
!ProblemSet/PS_Codechef/**
!ProblemSet/PS_Codechef/**/*
!ProblemSet/PS_Codechef/**/*.cpp
!ProblemSet/PS_CSES/**
!ProblemSet/PS_CSES/**/*
!ProblemSet/PS_CSES/**/*.cpp

*.DS_Store
*.gitignore
